<div flex layout="column" class="div-input" style="border-style: groove" ng-controller="rastreamentoCtrl" >
        <h1>Funções de Rastreamento</h1>
        <div flex layout="row">
                    <md-input-container flex>
                        <label>Distância mínima do aeroporto</label>
                        <input type="number" ng-model="entradaDeDados.direcao">
                    </md-input-container>

                <md-button class="md-raised md-primary" ng-click="teste(entradaDeDados)"
                           style="background:red;">
                    Transladar
                </md-button>
        </div>
    <div flex layout="row">
                    <md-input-container flex>
                        <label>Distância mínima avião</label>
                        <input type="number" ng-model="entradaDeDados.direcao">
                    </md-input-container>

                <md-button class="md-raised md-primary" ng-click="teste(entradaDeDados)"
                           style="background:red;">
                    Escalonar
                </md-button>
    </div>
        <div flex layout="row" flex>
                <md-input-container flex>
                    <label>Tempo mínimo</label>
                    <input type="number" ng-model="entradaDeDados.direcao">
                </md-input-container>

            <md-button class="md-raised md-primary" ng-click="teste(entradaDeDados)"
                       style="background:red;">
                Escalonar
            </md-button>
        </div>
</div>