<div flex ng-controller="rastreamentoCtrl">
    <md-toolbar class="md-small-tb">
        <div class="md-toolbar-tools">
            <h1 flex>Rastreamento</h1>
        </div>
    </md-toolbar>
    <md-content flex class="toolbar-content" style="height: 30vh">
        <div layout="column" flex>
            <md-input-container flex style="margin: 0">
                <div flex layout="row">
                    <div flex>
                        <label>Distância mínima aeroporto</label>
                        <input type="number" ng-model="entradaDeDados.direcao">
                    </div>
                    <div flex="40">
                        <md-button class="md-raised md-primary " ng-click="teste(entradaDeDados)"
                                   style="background:red;width: 100px">
                            Aeroporto
                        </md-button>
                    </div>
                </div>
            </md-input-container>
            <md-input-container flex style="margin: 0">
                <div flex layout="row">

                    <div flex>
                        <label>Distância mínima avião</label>
                        <input type="number" ng-model="entradaDeDados.direcao">
                    </div>
                    <div flex="40">
                        <md-button class="md-raised md-primary" ng-click="teste(entradaDeDados)"
                                   style="background:red;width: 100px">
                            Avião
                        </md-button>
                    </div>
                </div>
            </md-input-container>
            <md-input-container flex style="margin: 0">
                <div flex layout="row">
                    <div flex>
                        <label>Tempo mínimo</label>
                        <input type="number" ng-model="entradaDeDados.direcao">
                    </div>
                    <div flex="40">
                        <md-button class="md-raised md-primary" ng-click="teste(entradaDeDados)"
                                   style="background:red;width: 100px">
                            Colisão
                        </md-button>
                    </div>
                </div>
            </md-input-container>
        </div>
    </md-content>
</div>