<!DOCTYPE html>
<html>

<head>
    <title>Aero Zeppelin</title>
    <link rel="shortcut icon" type="image/x-icon" href="Led-zeppelin-1.png" />
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="my-app.js"></script>
    <script src="index-controller.js"></script>
</head>

<body ng-app="myApp" ng-controller="indexCtrl">
    <div flex layout="row" style="height: 600px">
        <!-- COLUNA DOS INPUT -->
        <div flex layout="column" style="border-style: groove">
            <!-- ENTRADA DE DADOS -->
            <div flex layout="row" class="div-input">
                <div flex="20" layout="column" class="div-input" style="border-style: groove">
                    <h1>Entrada de Dados</h1>
                    <div flex layout="row">
                        <div flex layout="column">
                            <md-input-container flex>
                                <label>Posição X</label>
                                <input type="number" ng-model="entradaDeDados.x">
                            </md-input-container>
                        </div>
                        <div flex layout="column">
                            <md-input-container flex>
                                <label>Posição Y</label>
                                <input type="number" ng-model="entradaDeDados.y">
                            </md-input-container>
                        </div>
                    </div>
                    <div flex layout="row">
                        <div flex layout="column">
                            <md-input-container flex>
                                <label>Raio</label>
                                <input type="number" ng-model="entradaDeDados.raio">
                            </md-input-container>
                        </div>
                        <div flex layout="column">
                            <md-input-container flex>
                                <label>Angulo</label>
                                <input type="number" ng-model="entradaDeDados.angulo">
                            </md-input-container>
                        </div>
                    </div>
                    <div flex layout="row">
                        <div flex layout="column">
                            <md-input-container flex>
                                <label>Velocidade</label>
                                <input type="number" ng-model="entradaDeDados.velocidade">
                            </md-input-container>
                        </div>
                        <div flex layout="column">
                            <md-input-container flex>
                                <label>Direção</label>
                                <input type="number" ng-model="entradaDeDados.direcao">
                            </md-input-container>
                        </div>
                    </div>
                    <md-button class="md-raised md-primary" ng-click="teste(entradaDeDados)"
                        style="background:rgb(253, 194, 0);">
                        Inserir
                    </md-button>
                </div>
            </div>

            <!-- Função de Transformação -->
            <div flex layout="row" class="div-input" style="margin-top:5px;">
                <div flex="50" layout="column" class="div-input" style="border-style: groove">
                    <h1>Funções de Transformação</h1>
                    <div flex layout="row">
                        <div flex layout="column" style="margin-left:5px; border-style: groove">
                            <div flex layout="row">
                                <md-input-container flex>
                                    <label>Transladar X</label>
                                    <input type="number" ng-model="entradaDeDados.direcao">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Transladar Y</label>
                                    <input type="number" ng-model="entradaDeDados.direcao">
                                </md-input-container>
                            </div>
                            <md-button class="md-raised md-primary" ng-click="teste(entradaDeDados)"
                                style="background:blue;">
                                Transladar
                            </md-button>
                        </div>

                        <div flex layout="column" style="margin-left:5px; border-style: groove">
                            <div flex layout="row">
                                <md-input-container flex>
                                    <label>Escalonar X</label>
                                    <input type="number" ng-model="entradaDeDados.direcao">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Escalonar Y</label>
                                    <input type="number" ng-model="entradaDeDados.direcao">
                                </md-input-container>
                            </div>
                            <md-button class="md-raised md-primary" ng-click="teste(entradaDeDados)"
                                style="background:blue;">
                                Escalonar
                            </md-button>
                        </div>
                    </div>
                    <div flex layout="row">
                        <div layout="row" flex>
                            <md-input-container flex>
                                <label>Ângulo de Rotação</label>
                                <input type="number" ng-model="entradaDeDados.direcao">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Centro de Rotação X</label>
                                <input type="number" ng-model="entradaDeDados.direcao">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Centro de Rotação Y</label>
                                <input type="number" ng-model="entradaDeDados.direcao">
                            </md-input-container>
                        </div>
                        <md-button class="md-raised md-primary" ng-click="teste(entradaDeDados)"
                            style="background:blue;">
                            Escalonar
                        </md-button>
                    </div>

                </div>
            </div>
        </div>
        <!-- COLUNA RADAR -->
        <div flex layout="column" style="margin:0; padding:0">
            <!-- RADAR -->
            <div flex layout="column" class="radar">
                <h1 style="font-size:90px;">
                    E O RADAR ? Pourra.
                </h1>
                    
                
            </div>
        </div>
    </div>
</body>

</html>