<div flex style="border-style: groove" ng-controller="transformacaoCtrl">
    <md-toolbar class="md-small-tb">
        <div class="md-toolbar-tools">
            <h1 flex>Transformação</h1>
        </div>
    </md-toolbar>
    <md-content flex class="toolbar-content" layout="column">

    <div flex layout="row">
            <div flex layout="row">
                <md-input-container flex>
                    <label>Transladar X</label>
                    <input type="number" ng-model="entradaDeDados.direcao">
                </md-input-container>
                <md-input-container flex>
                    <label>Transladar Y</label>
                    <input type="number" ng-model="entradaDeDados.direcao">
                </md-input-container>
            <md-button class="md-raised md-primary" ng-click="teste(entradaDeDados)"
                       style="background:blue;">
                Transladar
            </md-button>
        </div>
            <div flex layout="row">
                <md-input-container flex>
                    <label>Escalonar X</label>
                    <input type="number" ng-model="entradaDeDados.direcao">
                </md-input-container>
                <md-input-container flex>
                    <label>Escalonar Y</label>
                    <input type="number" ng-model="entradaDeDados.direcao">
                </md-input-container>
            </div>
            <md-button class="md-raised md-primary" ng-click="teste(entradaDeDados)"
                       style="background:blue;">
                Escalonar
            </md-button>
    </div>
    <div flex layout="row">
        <md-input-container flex>
            <label>Ângulo de Rotação</label>
            <input type="number" ng-model="entradaDeDados.direcao">
        </md-input-container>
        <md-input-container flex>
            <label>Centro de Rotação X</label>
            <input type="number" ng-model="entradaDeDados.direcao">
        </md-input-container>
        <md-input-container flex>
            <label>Centro de Rotação Y</label>
            <input type="number" ng-model="entradaDeDados.direcao">
        </md-input-container>

        <md-button class="md-raised md-primary" ng-click="teste(entradaDeDados)"
                   style="background:blue;">
            Escalonar
        </md-button>
    </div>
    </md-content>
</div>