<div flex ng-controller="entradaCtrl">
<!--<div flex style="border-style: groove" ng-controller="entradaCtrl"> TODO: POR ENQUANTO SEM BORDA-->
    <!-- ENTRADA DE DADOS -->
    <div flex layout="row" class="div-input">
        <div flex="20" layout="column" class="div-input" style="border-style: groove">
            <h1>Entrada de Dados</h1>
            <div flex layout="row">
                <div flex layout="column">
                    <md-input-container flex>
                        <label>Posição X</label>
                        <input type="number" ng-model="entradaDeDados.x">
                    </md-input-container>
                </div>
                <div flex layout="column">
                    <md-input-container flex>
                        <label>Posição Y</label>
                        <input type="number" ng-model="entradaDeDados.y">
                    </md-input-container>
                </div>
            </div>
            <div flex layout="row">
                <div flex layout="column">
                    <md-input-container flex>
                        <label>Raio</label>
                        <input type="number" ng-model="entradaDeDados.raio">
                    </md-input-container>
                </div>
                <div flex layout="column">
                    <md-input-container flex>
                        <label>Angulo</label>
                        <input type="number" ng-model="entradaDeDados.angulo">
                    </md-input-container>
                </div>
            </div>
            <div flex layout="row">
                <div flex layout="column">
                    <md-input-container flex>
                        <label>Velocidade</label>
                        <input type="number" ng-model="entradaDeDados.velocidade">
                    </md-input-container>
                </div>
                <div flex layout="column">
                    <md-input-container flex>
                        <label>Direção</label>
                        <input type="number" ng-model="entradaDeDados.direcao">
                    </md-input-container>
                </div>
            </div>
            <md-button class="md-raised md-primary" ng-click="inserirAviao(entradaDeDados)"
                       style="background:rgb(253, 194, 0);">
                Inserir
            </md-button>
        </div>
    </div>
</div>