<div flex ng-controller="entradaCtrl">
    <md-toolbar class="md-small-tb">
        <div class="md-toolbar-tools">
            <md-button id="nameEntradaDados" class="btn1" ng-click="trocaFormaEntradaAviao(entradaDeDados)">
                POLAR
            </md-button>
            <h1 flex>Entrada de Dados</h1>
        </div>
    </md-toolbar>
    <md-content flex class="toolbar-content" layout="column">
        <div flex layout="row" layout-fill>
            <div flex layout="column" class="div-input" id="cartesiano" style="display: block;">
                <md-input-container flex>
                    <label>Posição X</label>
                    <input type="number" ng-model="entradaDeDados.x">
                </md-input-container>
                <md-input-container flex>
                    <label>Posição Y</label>
                    <input type="number" ng-model="entradaDeDados.y">
                </md-input-container>
            </div>

            <div flex layout="column" class="div-input" id="polar">
                <md-input-container flex>
                    <label>Raio</label>
                    <input id="raio" type="number" ng-model="entradaDeDados.raio" ng-disabled="disabilitado">
                </md-input-container>
                <md-input-container flex>
                    <label>Angulo</label>
                    <input type="number" ng-model="entradaDeDados.angulo" ng-disabled="disabilitado">
                </md-input-container>
            </div>
            <div flex layout="column" class="div-input">
                <md-input-container flex>
                    <label>Velocidade</label>
                    <input type="number" ng-model="entradaDeDados.velocidade">
                </md-input-container>
                <md-input-container flex>
                    <label>Direção</label>
                    <input type="number" ng-model="entradaDeDados.direcao">
                </md-input-container>
            </div>
        </div>
        <md-button layout-fill class="md-raised md-primary" ng-click="inserirAviao(entradaDeDados)"
                   style="background:rgb(253, 194, 0);">
            Inserir
        </md-button>
    </md-content>
</div>