<div flex ng-controller="gridCtrl">
    <md-toolbar class="md-small-tb">
        <div flex class="md-toolbar-tools">
            <h1 flex>Aviões</h1>
        </div>
    </md-toolbar>
    <md-content flex class="toolbar-content" layout="column" style="min-height: 655px;">
        <div flex>
            <md-list-item ng-repeat="aviao in getTesteAviao()" layout="row" flex>
                <md-checkbox class="md-primary" ng-model="true" aria-label="Selecionar Avião"></md-checkbox>
                <p ng-bind="aviao"></p>
                <md-button class="md-icon-button" aria-label="Remover" ng-click="removerAviao($index)">
                    <md-icon class="material-icons">delete</md-icon>
                </md-button>
            </md-list-item>
        </div>
    </md-content>
</div>